<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <title>
      Dom DiCarlo Dot Com
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style/style.css' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body class="bg-dark text-white">
    <div class="jumbotron bg-dark text-white">
      <h1 class="display-4">Dom DiCarlo</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p>CS Student. Scientist. Triathlete. Artist. Just another one of the infinite expressions of the Universe looking in on itself.</p>
      <a class="btn btn-primary btn-lg" href="index.html" role="button">Home</a>
    </div>
    <div class="container bg-dark text-white">
      <p class = "caption">
        <img src="{% static 'homepage/images/domFace.jpg' %}" class="img-fluid" alt="Responsive image">
      </p>
      <p class = "mainP">
        Dominic DiCarlo is a fourth year undergraduate at the University of Chicago, majoring in Computer Science.
        <br>
        <br>
        Contact him at ddicarlo AT uchicago DOT edu.
      </p>
    </div>
  </body>

</html>