# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
django==2.2.13
django-pyodbc-azure==2.1.0.0
psycopg2==2.8.4
pyodbc==4.0.27
mysqlclient==1.4.4
whitenoise==4.1.4
django-markdown
markdown
docutils
django-markupfield 