<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>
      About Dom
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>

  <body class="bg-dark text-white">
    <div class="jumbotron bg-dark text-white">
      <h1 class="display-4">About Dom</h1>
      <p class="lead">What's there to know? Tat Tvam Asi.</p>
      <hr class="my-4">
      <p>Psychology and CS Student. Scientist. Triathlete. Artist. Just another one of the infinite expressions of the Universe looking in on itself.</p>
      <a class="btn btn-primary btn-lg" href="index.html" role="button">Home</a>
    </div>
    <div class="container bg-dark text-white">
      <p class = "caption">
        <img src="images/domKnee.jpg" class="img-fluid" alt="Responsive image">
        <br>
        <br>
        Dom in Peru, knee-deep in contemplation.
      </p>
      <p class = "mainP">
        Dominic DiCarlo is a third year undergraduate at the University of Chicago, majoring in Psychology and minoring in Computer Science.
        He started this blog so he could practice his writing skills and share his philosophical perspectives on life and the world. 
        He can be found running or biking along Chicago’s lakeshore when his schedule allows. 
        He would love to talk to you about any of these topics he has wrote about, as well as hear about anything you think he should philosophize on.
        <br>
        <br>
        Contact him at ddicarlo AT uchicago DOT edu.
      </p>
    </div>
  </body>

</html>